* {
    margin: 0;
    padding: 0;
  
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    
}

.logo {
    font-size: 24px;
    color: #F9FaF8;

}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a, .hero p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style: none;
}

header, .hero {
    padding: 16px 96px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 16px;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}    



.hero h2 {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;

}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #747577;
    width: 50%;
    flex-shrink: 0;
    padding: 2px;


}











